# Duplicates from setup.py
aniso8601>=1.2.0
future==1.0.0
jsonschema==4.25.1
language-tags==1.2.0
openbadges_bakery==2.0.0
pycryptodome>=3.6.6
pydux==0.2.2
PyLD==2.0.4
python-jose==3.5.0
python-mimeparse==2.0.0
pytz >= 2017.2
requests >= 2.13
requests_cache >= 0.4.13
rfc3986==2.0.0
validators==0.35.0

# Development dependencies
pypandoc==1.15
pytest
responses==0.25.8

# Server dependencies
Flask==3.1.2
gunicorn==23.0.0
